.background {
    text-align: center;
}

.content {
    margin-top: 10%;
    text-align: center;
}

.content .title {
    padding: 0 30% 0 30%;
    font-size: 16pt;
    text-align: left;
}

.content .title span {
    color: #47adfb;
}

.content .option {
    text-align: left;
    padding: 0 20% 0 20%;
}

.feedback {
    margin-top: 10%;
    text-align: center;
    font-size: 18pt;
}